[Unit]
Description=example systemd service unit file.

[Service]
ExecStart=/bin/bash /home/yupeng/minipc/button_listener.sh

[Install]
WantedBy=multi-user.target
